* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-width: 320px;
}

.no-js .fact, .no-js .divider {
    display: none;
}

.container {
    position: relative;
    width: 100%;
}

.container .inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

.comparison-slider-wrapper {
    position: relative;
    width: 100%;
    background-color: white;
}

.comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 95vh;
}

.comparison-slider .darken {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.comparison-slider-wrapper .comparison-slider img {
    width: 100%;
    height: 100%;
    display: block;
}

.comparison-slider-wrapper .comparison-slider .overlay {
    position: absolute;
    width: 863px;
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 50%;
}

@media screen and (max-width: 1068px) {
  .comparison-slider-wrapper .comparison-slider .overlay {
        width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .comparison-slider-wrapper .comparison-slider .overlay {
        width: 265px;
  }
}

.comparison-slider .overlay h2 {
    background: #e00;
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
    padding: .3125rem .625rem;
    -webkit-box-shadow: 10px 0 0 #e00, -10px 0 0 #e00;
    box-shadow: 10px 0 0 #e00, -10px 0 0 #e00;
    padding: .1875rem 0;
    display: inline;
    line-height: 1.3em;
}

@media screen and (max-width: 1068px) {
  .comparison-slider .overlay h2 {
       font-size: 50px; 
  }
}

@media screen and (max-width: 767px) {
  .comparison-slider .overlay h2 {
        font-size: 45px;
  }
}

.comparison-slider .overlay p {
        font-size: 36px;
}

@media screen and (max-width: 1068px) {
  .comparison-slider .overlay p {
        font-size: 24px;
        margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .comparison-slider .overlay p {
        font-size: 21px;
  }
}

.comparison-slider .credits {
    width: 300px;
    color: rgba(255, 255, 255, .75);
    position: absolute;
    bottom: 10px;
    left: 25px;
}

@media screen and (max-width: 1068px) {
  .comparison-slider .credits {
        font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .comparison-slider .credits {
        font-size: 12px;
  }
}

.comparison-slider-wrapper .comparison-slider .act {
    background: url(../images/measles_act.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .comparison-slider-wrapper .comparison-slider .act {
        background-image: url(../images/measles_act_2x.jpg);
    }
}

.comparison-slider-wrapper .comparison-slider .fact {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    overflow: hidden;
    background: url(../images/measles_fact.jpg) no-repeat center;
    background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .comparison-slider-wrapper .comparison-slider .fact {
        background-image: url(../images/measles_fact_2x.jpg);
    }
}

.comparison-slider-wrapper .comparison-slider .divider {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    left: 90%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    cursor: ew-resize;
}

.comparison-slider-wrapper .comparison-slider .divider .control-wrap:before, .comparison-slider-wrapper .comparison-slider .divider .control-wrap:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 18px;
    top: 50%;
    margin-top: -3px;
    left: -30px;
    background: url(../images/chevron.svg) no-repeat center;
    transition: all .1s ease-in-out;
}

.comparison-slider-wrapper .comparison-slider .divider .control-wrap:after {
    transform: rotate(180deg);
    left: 23px;
    margin-top: -2.5px;
}

.comparison-slider-wrapper .comparison-slider .divider .control:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -13px;
    top: 50%;
    margin-top: -10px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

.comparison-slider-wrapper .comparison-slider .divider .control:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: -9px;
    top: 50%;
    margin-top: -6px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

.comparison-slider-wrapper .comparison-slider .divider.draggable .control-wrap:before {
    left: -35px;
}

.comparison-slider-wrapper .comparison-slider .divider.draggable .control-wrap:after {
    left: 28px;
}

.comparison-slider-wrapper .comparison-slider .divider.draggable .control:before {
    width: 40px;
    height: 40px;
    left: -18px;
    margin-top: -15px;
    
}

.comparison-slider-wrapper .comparison-slider .divider.draggable .control:after {
    width: 30px;
    height: 30px;
    left: -13px;
    margin-top: -10px;
    background-color: #ee0000;
}